/* CSS */
.hide{
    display: none;
}
/* Commented buttons, may use later for searches if there is time */
/* #disney-btn, #netflix-btn,
#hulu-btn,  */
.label {
    font-size: x-large;
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
    1px 1px 0 white;
    font-family: 'Kumar One', cursive;
}
body {
    background-image: url("https://cdn.vox-cdn.com/thumbor/WMCeeSdqZyv7iqXqKOopfkM3CQc=/0x0:4800x3557/1720x0/filters:focal(0x0:4800x3557):format(webp):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/3817480/GettyImages-146124343.0.jpg");
    height: 100%;
}
.onload, .contactform {
    height: 867px;
    margin-bottom: 20px !important;
}
#resultsDiv {
    border-radius: 25px;
    border: 2px solid #FFDD58;
    padding: 20px;
    width: auto;
    height: auto;
    background-color: ivory;
    margin-bottom: 100px;
  }

  h1{
    font-family: 'Kumar One', cursive;
    font-size: 72px !important;
    align-content: center !important;
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
  }
  .footer2{
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 25px;
    background-color: white;
    margin-top: 50px;
  }
  .navbar-item{
    font-family: 'Kumar One', cursive;
  }

  .card {
    box-shadow: none !important;
   
  }
  p {
    font-family: 'Kumar One', cursive;
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
  }
  .onsubmit {
    height: 100%;
    margin-bottom: 20px !important;
  }
  .aboutparagraph {
    font-size: 20px;
  }
  .aboutimage {
    height: 500px;
    width: 500px;
  }
  .firstparagraph {
    text-align: center;
  }
  .aboutdiv {
    border-radius: 25px;
    border: 2px solid #FFDD58;
    padding: 20px;
    width: auto;
    height: auto;
    background-color: ivory;
    margin-bottom: 50px;
  }
